spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/qmovi?sslmode=disable
    username: postgres
    password: 491273
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    schemas: public
    default-schema: public
    baseline-on-migrate: false
    validate-on-migrate: true
